

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 12rem;
    height: auto;
    margin: .5rem .3rem;
    background-color: transparent;
    border-radius: 8px;
    transition: background-color .4s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 1rem;
}

.mainContainer:hover {
    /* background-color: rgba(255, 166, 0, 0.28); */
    cursor: pointer;
}

.mainContainer img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: scale .3s cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: .5rem;
}

.mainContainer img:hover {
    border: 1px solid rgba(0, 0, 0, 0.43);
}

.mainContainer p {
    font-size: .9rem;
}