

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgb(216, 141, 0);
}

.mainContainer img {
    height: 2rem;
    width: auto;
}

