


.mainContainer {
    min-height: 40vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: rgb(50, 58, 70);
    background-blend-mode: overlay;
    margin-bottom: 3rem;
    margin-top: 1rem;
    border-radius: 8px;
}

.mainContainer h1 {
    font-size: 4.5rem;
    margin-bottom: 4rem;
    color: white;
}

.mainContainer h3 {
    font-size: 1.5rem;
    margin-bottom: -1rem;
    color: lightgray;
    text-align: left;
}